caddy.apps.vwn.io {
    root * /srv
    file_server
    encode gzip zstd
    log {
        output stdout
        format console
    }

    tls {
      dns porkbun {
        api_key {env.PORKBUN_API_KEY}
        api_secret_key {env.PORKBUN_API_SECRET_KEY}
	    }
    }
}

# Separate block to bind to IPv4 and port 9000 for WebSocket reverse proxy
:9000 {
    reverse_proxy http://ocpp-proxy:8080 {
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-For {remote}
        header_up X-Forwarded-Proto {scheme}
    }

    log {
        output stdout
        format console
    }
}
